@font-face {
  font-family: 'nav-icons';
  src:  url('../fonts/nav-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


html {
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header 
===================*/
.header {
	width: 100%;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;

	padding-top: 30px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-family: inherit;
	font-weight: bold;
	font-size: 2.14rem;
}

/* Intro 
===================*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background: url('../img/bg.png') center no-repeat;
	background-size: cover;

	width: 100%;
	height: 100vh;
}



.intro__wrap {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
}

.intro__subtitle {
	font-family: 'Kaushan Script', cursive;
	font-weight: 400;
	font-size: 5.14rem;
	text-align: center;
}

.intro__title {
	position: relative;
	
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 10.71rem;
	line-height: 1;

	padding-bottom: 70px;
}

.intro__title:after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;

	margin-left: -30px;
	
	width: 60px;
	height: 3px;
	background-color: #fff;
}

/* Nav 
===================*/
.nav{
	display: flex;
}


.nav__link {
	display: inline-block;
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;


	padding-bottom: 12px;
	margin-left:50px;
	vertical-align: top;

	transition: color .2s linear;
}

.nav__link::after {
	content: "";
	
	position: absolute;
	bottom: 0;
	left:0;

	background-color: #fce38a;
	width: 100%;
	height: 3px;

	opacity: 0;
	transition: opacity .2s linear;
}

.nav__link:hover {
	color: #fce38a;
}

.nav__link:hover::after {
	opacity: 1;
}

/* Nav icons 
===================*/


.nav__shopping-cart {
	margin-left: 3.5rem;
	text-decoration: none;
}

.nav__search{
	margin-left: 2.85rem;
}

/* Inline SVG-icon */
.nav__search-svg{
	fill: #fff;
	fill-rule: evenodd;
}

.nav__search-svg:hover
{
	fill: #fce38a;
}

/* Icomoon font icons */
.icon-nav-shopping-cart:before {
  content: "\e900";
}
.icon-nav-shopping-cart:before {
  content: "\e901";
}

.icon-nav-search:before,
.icon-nav-shopping-cart:before  {
  color: #fff;
  font-family: 'nav-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-shopping-cart:hover:before {
	color: #fce38a;
}

