html {
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header 
===================*/
.header {
	width: 100%;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: inherit;
	font-weight: bold;
	font-size: 2.14rem;
}

/* Intro 
===================*/

.intro {
	background: url('../img/bg.png') center no-repeat;
	background-size: cover;

	width: 100%;
	height: 100vh;
}

/* Nav 
===================*/
.nav{
	display: flex;
}


.nav-link {
	display: block;
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;

	padding-bottom: 12px;
	margin-left:50px;

	transition: color .2s linear;
}

.nav-link::after {
	content: "";
	
	position: absolute;
	bottom: 0;
	left:0;

	background-color: #fce38a;
	width: 100%;
	height: 3px;

	opacity: 0;
	transition: opacity .2s linear;
}

.nav-link:hover {
	color: #fce38a;
}

.nav-link:hover::after {
	opacity: 1;
}

/* Nav icons 
===================*/



.nav-shopping-cart {
	margin-left: 3.5rem;
}

.nav-search{
	margin-left: 2.85rem;
}

.nav-search-svg{
	fill: #fff;
	fill-rule: evenodd;
}


.nav-search:hover,
.nav-search-svg:hover
{
	fill: #fce38a;
}
