@font-face {
  font-family: 'nav-icons';
  src:  url('../fonts/nav-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


html {
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr{
	display: block;
	width: 100%;
	height: 1px;
	margin: 40px 0;

	background-color: #e5e5e5;	
	border:0;
}


.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.header {
	width: 100%;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;

	padding-top: 30px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-family: inherit;
	font-weight: bold;
	font-size: 2.14rem;
}

/* Intro */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background: url('../img/bg.png') center no-repeat;
	background-size: cover;

	width: 100%;
	height: 100vh;
}



.intro__wrap {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;

	text-align: center;
}

.intro__subtitle {
	font-family: 'Kaushan Script', cursive;
	font-weight: 400;
	font-size: 5.14rem;

	margin-bottom: 20px;
}

.intro__title {

	text-transform: uppercase;
	font-weight: bold;
	font-size: 10.71rem;
	line-height: 1;
}

.intro__title:after{
	content: "";
	display: block;
	
	width: 60px;
	height: 3px;
	background-color: #fff;

	margin: 60px  auto 50px;
}

/* Nav */
.nav{
	display: flex;
}


.nav__link {
	display: inline-block;
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;

	padding-bottom: 12px;
	margin-left:50px;
	vertical-align: top;

	transition: color .2s linear;
}

.nav__link::after {
	content: "";
	
	position: absolute;
	bottom: 0;
	left:0;

	background-color: #fce38a;
	width: 100%;
	height: 3px;

	opacity: 0;
	transition: opacity .2s linear;
}

.nav__link:hover {
	color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after{
	opacity: 1;
}

/* Nav icons */


.nav__shopping-cart {
	margin-left: 3.5rem;
	text-decoration: none;
}

.nav__search{
	margin-left: 2.85rem;
}

/* Inline SVG-icon */
.nav__search-svg{
	fill: #fff;
	fill-rule: evenodd;
}

.nav__search-svg:hover
{
	fill: #fce38a;
}


/* Icomoon font icons */
.icon-nav-shopping-cart:before {
  content: "\e900";
}
.icon-nav-shopping-cart:before {
  content: "\e901";
}

.icon-nav-search:before,
.icon-nav-shopping-cart:before  {
  color: #fff;
  font-family: 'nav-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

.icon-nav-shopping-cart:hover:before {
	color: #fce38a;
}

/*Button*/
.btn {
	display: inline-block;
	vertical-align: top;

	padding: 1rem 2rem;

	font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	border: 3px solid #fff;

	transition: background-color .2s linear, color .2s linear ;
}

.btn:hover {
	background-color: #fff;
	color: #000;
}

/* Slider */
.intro__slider {
	position: absolute;
	width: 100%;
	bottom:0;
	left:0;
	z-index: 1;

}

.slider__wrapper{
	display: flex;
	justify-content: space-between;

	margin-top: 30px;
}

.slider__item {
	position: relative;
	
	padding: 20px 0;
	width: 23%;
	
	font-size: 1.28rem;
	text-transform: uppercase;
	
	border-top: 3px solid #fff;

	opacity: .7;
}



.slider__number{
	font-size: 1.71rem;
	font-weight: bold;
}

.slider__item.active {
	opacity: 1;
}

.slider__item.active:before{
	content: "";
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
	
	width: 70px;
	height: 3px;
		
	background-color: #f38181;
}

/* Section */

.section {
	padding: 90px 0;
}

.section__header {
	margin: 0 auto 50px;

	width: 100%;
	max-width: 950px;

	text-align: center;
	
}

.section__suptitle{

	font-family: 'Kaushan Script', cursive;
	font-weight: 400;
	font-size: 1.71rem;
	color:#333;
}
.section__title{
	font-family: 'Montserrat', sans-serif;
    font-size: 2.14rem;
	font-weight: 700;
	text-transform: uppercase;

	color:#333;
}

.section__title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #f38181;
	
	margin: 30px auto 40px;
}
.section__text{
	font-family: 'Roboto', sans-serif;
	font-size: 1.07rem;
	line-height: 1.8;
	color:#999;
}

/* Card */

.card {
	margin-top: 80px;

	display: flex;
	justify-content: space-between;
}

.card__inner {
		cursor: pointer;
	position: relative;
	background-color: #95e1d3;
}

.card__item{
	width: 380px;
}

.card__inner:hover .card__image{
	transform: translate3d(-10px, -10px,0);
}

.card__inner:hover .card__image img {
	opacity: .1;
}

.card__text {
	position: absolute;
	top:50%;
	left:0;
	z-index: 2;

	transform: translate3d(0, -50%, 0);

	text-align: center;
	width: 100%;

	font-size:1.28rem;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;

	opacity: 0;
	transition: opacity .2s linear;
}
.card__inner:hover .card__text{
	opacity: 1;
}

.card__image {
	background: linear-gradient(to bottom, #f38181,#fce38a);
	transition: transform .2s linear; 
}

.card__image img {
	display: block;
	transition: opacity .1s linear;
}

/* Statistics */
.statistic {
	background-color: #95e1d3;
	width: 100%;
}

.stat{
	display: flex;
}

.stat__item {
	flex: 1 1 0;
	padding: 80px 25px;

	line-height: 1;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-align: center;

	border-left: solid 1px rgba(255, 255, 255, 0.3);
}

.stat__item:last-of-type{
	border-right: solid 1px rgba(255, 255, 255, 0.3);
}

.stat__num{
	margin-bottom: 20px;

    font-size: 5.14rem;
    font-weight: 700;
}

.stat__text{
    font-size: 1rem;
    font-weight: 400;
	text-transform: uppercase;
}

/* Services */

.services{
	display: flex;
}


.service {
	position: relative;
	padding-left: 85px;
	padding-right: 35px;

	flex: 1 1 0;
	
}

.service__logo{
	position: absolute;
	top:0;
	left:30px;
	z-index: 1 ;
}

.service__title {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;

	margin-bottom: 10px;

}

.service__text {
	color: #999;
	font-size: 1.07rem;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

/* Feature */

.section--feature{
	padding-bottom: 0;
	margin-bottom: 40px;

    background: url('../img/feature/bg2.jpg') center no-repeat;
    background-size:cover;
}

/* Devices */ 

.devices {
	position: relative;

	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.devices__item {
	display: block;
}

.devices__item--iphone {
	position: absolute;
	z-index: 99;
	right: -40px;
	bottom: -80px;
}

/* We Do */
.wedo{
	display: flex;
}

.wedo__item {
	flex: 1;
}

/* Accordion */


.accordion__item {
	border: 1px solid #e5e5e5;
	
	margin-bottom: 10px;

	
}

.accordion__item.active 
.accordion__content {
	height: 125px;
	padding-right: 10px;
	margin: 20px 30px;

	visibility: visible;
	opacity: 1;
	
	overflow: auto;

}

.accordion__item.active 
.accordion__header:after {
	transform: rotate(45deg);
	margin-top: -5px;
}

.accordion__item.active 
.accordion__header {
	border-bottom-color: #e5e5e5;
}

.accordion__header {
	position: relative;
	display: flex;
	align-items: center;

	padding: 15px;

	border-bottom: 1px solid transparent;

	cursor: pointer;
}

.accordion__header:after{
	position: absolute;
	right: 20px;
	top: 50%;
	z-index: 1;
	
	content: "";
		
	width: 15px;
	height: 15px;
	border-left: 3px solid #d0d0d0;
	border-top: 3px solid #d0d0d0;

	transform: translateY(-50%) rotate(225deg);
}

.accordion__title {
	font-size: 1rem;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	color: #333;

	margin-left: 15px;
}

.accordion__content {
	visibility: hidden;
	height: 0;
	padding: 0;
	opacity: 0;
	overflow: hidden;

	font-family: Roboto;
	font-weight: 300;
	font-style: italic;
	font-size: 1.07rem;
	line-height: 1.6;
	color: #999;

	transition: all .3s linear;
}

.accordion__content::-webkit-scrollbar{
	width: 5px;
}

/* Accordion scrollbar */

.accordion__content::-webkit-scrollbar-track {
	background: #f5f5f5; 
	border-radius: 2.5px;
}

.accordion__content::-webkit-scrollbar-thumb {
	background: #95e1d3; 
	border-radius: 2.5px;
}
  
.accordion__content::-webkit-scrollbar-thumb:hover {
	background: #59a396; 
}

/* reviews */

.section--gray {
	background-color: #f8f8f8;
}

.reviews {
	position: relative;
	padding: 0 110px;
}

.reviews__item {
	padding-left: 205px;
	position: relative;
}

.reviews__text {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	font-size: 1.71rem;
	line-height: 1.5;
	color: #999;

	margin-bottom: 15px;
}

.reviews__svg_rect {

	fill:transparent;
	stroke: #95e1d3;
	stroke-linejoin: round;
	stroke-width: 3px;
  }

.reviews__svg_logo {
	position: absolute;
	left: 0;
	top:0;
	z-index: 1;

	width: 150px;
	height: 150px;

	cursor: pointer;
}

.reviews__svg_logo:hover {
	background:linear-gradient(to bottom, #f38181, #fce38a);
}

.reviews__author {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.71rem;
	font-weight: 400;
	color:#333;
}

.reviews__author:before {
	content: "";
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
    
	width: 60px;
	height: 3px;
	background-color: #f38181;
}

.reviews__btn {
	position: absolute;
	top: 50%;
	z-index: 1;

	font-size: 0;
	color: transparent;

	transform: translateY(-50%);

	width: 15px;
	height: 15px;

	border-left: 3px solid #d0d0d0;
	border-top: 3px solid #d0d0d0;
}

.reviews__btn--prev{
	left: 10px;

	transform: rotate(-45deg);
}

.reviews__btn--next{
	right: 10px;

	transform: rotate(135deg);
}

/* Social */


.social {
	display: flex;
	justify-content: center;
}

.social__icon:before {
	/*centering with inline-block and vertical-align*/

	content: '';
  	display: inline-block;
  	height: 100%;
  	vertical-align: middle;
}

.social__icon {
	/*	or centering with flex
	display: flex;
	justify-content: center;
	align-items: center;*/

	width: 56px;
	height: 56px;
	
	background-color: #fce38a;
	border-right: 1px solid #f9bd87;
	text-decoration: none;

	transition: background .1s linear, color .1s linear;

}

.social__icon:last-of-type {
	border: 0;
}

.social__icon:hover {
	background-color: #f38181;
	border: 0;
}

.card__info {
	text-align: center;
	margin-top: 20px;

}

.card__name {
	font-family: "Montserrat";
	font-weight: 400;

	color: #333;

	text-transform: uppercase;
}

.card__profession {
	font-family: "Roboto";
	font-weight: 300;
	font-style: italic;
	font-size: 1.07rem;
	line-height: 1.6;
	color: #999;
}


.fab {
	display: inline-block;
  	vertical-align: middle;


	color: #f38181;
	font-size: 2rem;
	line-height: 1;
}

.social__icon:hover .fab {
	color: #fff;

}

/* works */

.works {
	display: flex;
}

.works__col {
	flex: 1 1 0;
}

.works__item {
	position: relative;
	background: linear-gradient(to bottom, #f38181,#fce38a);
}


.works__img {
	transition: opacity .2s linear;
	display: block;

	max-width: 100%;
	height: auto;
}

.works__item:hover .works__img{
	opacity: .1;
}

.works__info {
	position: absolute;
	top: 50%;
	left:0;
	z-index: 2;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);

	padding: 10px;
	
	transition: opacity .2s linear;

	opacity: 0;
}

.works__item:hover .works__info {
	opacity: 1;
}

.works__title {
	margin-top: 10px;

	text-transform: uppercase;
}

.works__subtitle {
	font-family: 'Roboto';
	font-size: 1.07rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.6;

	margin-top: 5px;

}

/* Reviews 2 */
.reviews__item-photo {
	padding-left: 245px;
	position: relative;
}

.reviews__photo {
	position: absolute;
	left: 0;
	z-index: 2;

	width: 210px;
	height: 210px;
	
}

/* Happy Clients */

.section--happy {
	background: url('../img/happy/logo.png') center no-repeat;
	background-size: cover;

}

.happy {
	display: flex;
	flex-wrap: wrap;
}

.happy__item {
	flex: 1 1 50%;
	position: relative;

	padding-left: 175px;
	margin-bottom: 60px;
}

.happy__photo {
	position: absolute;
	left:40px;
	top:0;

	width: 110px;
	height: 110px;
	border-radius: 50%;
}

.happy__name {
	font-family: Montserrat;
	font-weight: 400;
	color: #333;
	text-transform: uppercase;
}

.happy__profession {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 1.07rem;
	line-height: 1.8;
	color:#999;

	margin-top: 10px;
}

.happy__profession:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin: 15px 0 20px;
}


.happy__text {
	font-family: 'Roboto', sans-serif;
	font-size: 1.07rem;
	line-height: 1.8;
	color:#999;
}


/* Blog */

.blog {
	display: flex;
	justify-content: space-between;
}

.blog__item {
	flex: 1 1 0;
	max-width: 380px;
}

.blog__header {
	position: relative;

	width: 100%;
}

.blog__image {
	display: block;
	max-width: 100%;
	height: auto;
}

.blog__date {
	position: absolute;
	bottom: 10px;
	left: -10px;

	padding: 10px 20px;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	background-color: #95e1d3;
}

.blog__day {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 2.14rem;
	line-height: 1;
}

.blog__month {
	font-family: 'Roboto', sans-serif;
	font-size: 1.07rem;
	font-style: italic;
	font-weight: 300;
}


.blog__content {
	margin: 20px 0;
}

.blog__title {
	margin-bottom: 20px;
}

.blog__text {
	font-family: 'Roboto', sans-serif;
	font-size: 1.07rem;
	line-height: 1.6;

	font-weight: 400;
	color: #999;
}

.blog--hr {
	margin: 20px 0;
}

.blog__stat{

}


.blog__footer {

}

.blog__stat-item{
	font-family: 'Roboto', sans-serif;
	font-size: 1.07rem;
	line-height: 1.6;
	font-style: italic;
	font-weight: 300;
	color: #999;
}

.blog__title a {
	text-decoration: none;
	font-family: Montserrat;
	text-transform: uppercase;
	color: #333;
}

.blog__title a:hover {
	text-decoration: underline;
}

.blog__stat-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}